// core brand colors:
$primary: #225dff;
$primary-dark: #0833a7;
$secondary: #808080;

$site-bg: #1b1b1b;

// greys
$grey000: #ffffff;
$grey100: #f1f1f1;
$grey200: #dadada;
$grey300: #949494;
$grey400: #585858;
$grey500: #383838;

$grey600: #252525;
$grey700: rgb(27, 27, 27);
$grey800: #131313;
$grey900: #000000;
