@import "../../../styles/colors.scss";

.offering-container {
  width: 600px;
  border-radius: 24px;
  margin: 0 auto;
  background-color: $grey000;
  border: 2.5px solid $grey200;
  padding: 28px;
  margin-bottom: auto;

  .vertical-container {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
  }
}

.input {
  margin-right: 12px;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
}

.bottom-container {
  display: flex;
  flex-direction: row;
}
